@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mt-5">
        <h1 class="display-4 text-dark mb-4">Junior .NET Web Developer Assessment</h1>
        <p class="mt-3 text-dark">
            I have added my planning in <code class="text-dark bg-light p-1">/Handwritten-Plans</code>.
            <br>Blog posts are available via the header navigation.
            <br>Tests can be found in <code class="text-dark bg-light p-1">/Tests</code>.
        </p>
        <p class="mt-4 text-dark">
            <strong>Thank you for taking the time to go through my assessment and I look forward to hearing back from you.</strong>
        </p>
        <p class="mt-3 text-dark">
            Kind regards,<br>
            <strong>Thomas Butler</strong>
        </p>
    </div>
</div>
